<h1>Welcome to the registration page! Please enter your information</h1>

<form id= "new_user" action= "/users/create" method="POST">

  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="address" placeholder="Address" />
  <input type="text" name="city" placeholder="City" />
  <input type="text" name="state" placeholder="State" />
  <input type="number" name="zip" placeholder="Zip" />
  <input type="text" name="country" placeholder="Country" />
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="userid" placeholder="User ID" required/>
  <input type="text" name="password" placeholder="Password" required/>

  <input type="submit" value="Submit"/>

</form>
